{% extends "Home/basic.html" %}


 {% block content %}
<h1>О сайте</h1>
<article>
 <div>
  <p class="bg-secondary text-white">Уважаемые коллеги! Уважаемые родители! На страницах сайта освещены актуальные вопросы современной логопедии и дефектологии в целом. Здесь вы найдете ответы на наиболее волнующие Вас вопросы. Сайт раскрывает вопросы детской  логопедии.
Данный сайт может быть полезен для родителей детей дошкольного и младшего школьного возраста, для логопедов и учителей-дефектологов, а также для студентов.</p>
  <p class="bg-secondary text-white">Родителей часто волнует вопрос: «Как развивается речь ребенка?», «Когда идти за помощью к логопеду?». Советы опытного логопеда помогут Вам найти ответ на этот и многие другие вопросы.
На сайте размещена информация о нарушениях речи, их коррекции. Представлен практический материал по предупреждению и преодолению речевых  нарушений: описание анатомо-физиологических механизмов речи, характеристика речевых нарушений (дислалия, дизартрия, ринолалия, алалия, ОНР, дислексия, дисграфия и др), способах постановки звуков, коррекции звукопроизношения, материалы по диагностике (речевые карты в разделе «Обследование речи») и коррекции речи у детей, по автоматизации и дифференциации звуков (предложения, загадки, чистоговорки, скороговорки и пословицы), упражнения и игры для развития словарного запаса и грамматического строя речи, упражнения дыхательной гимнастики, логопедический массаж и логоритмика.</p>
  <p class="bg-secondary text-white">Сайт постоянно обновляется и пополняется новой и актуальной информацией. Надеемся, что Вы найдете для себя полезную информацию.</p>
 </div>
</article>
{% endblock %}

