{% extends "Home/basic.html" %}


 {% block content %}
<h1>Нарушения после инсульта</h1>
<div class="content">
<div class="news-detail">

                        <p align="center">
 <i><span style="color: #333333;">В статье даны пояснения и рекомендации для близких, </span></i>
</p>
<p align="center">
 <i><span style="color: #333333;">чтобы помочь родственнику с нарушениями речи после инсульта или черепно-мозговой травмы.</span></i>
</p>
<p align="center">
	 &nbsp;
</p>
<p>
	 К сожалению, после инсульта могут возникать самые разные нарушения: двигательные, координационно-пространственные, речевые, мнестические и т.д. Здесь напишу только про речевые.
</p>
<p>
	 Сразу уточню: этот текст для "обычных людей" - для родственников пациентов, перенесших инсульт, не для специалистов, поэтому здесь не будет классификации нарушений речи (афазий), локализации нарушений и подробных описаний реабилитационного процесса.
</p>
<p>
 <b>Почему нарушается речь?</b>
</p>
<p>
	 Афази́я — это локальное отсутствие или нарушение уже сформировавшейся речи. Возникает после инсульта, черепно-мозговой травмы или других органических повреждений головного мозга.
</p>
<p>
	 У большинства людей (правшей) речевые центры находятся в левом полушарии мозга (у левшей, соответственно, в правом) - т.е. повреждение именно этих отделов мозга будет давать разнообразные речевые нарушения (помимо двигательных, координационных и др.).
</p>
<p>
	 В зависимости от тяжести повреждения (площади повреждённого участка мозга), нарушения речи можно поделить на лёгкие, средние и тяжёлые. Стоит добавить, что у одного пациента вполне может встречаться сразу несколько афазий - если инсульт был множественным (или повторным), или если повреждение затронуло сразу несколько соседних участков. &nbsp;
</p>
<p>
 <b>Как это может выглядеть?</b>
</p>
<p>
	 Например, так: пациент активно пытается что-то сказать, но его речь абсолютно не понятна - она похожа на какой-то причудливый иностранный язык (в афазиологии такая речь описывается словами "словесная окрошка"). Также выяснится, что и нашу речь он не понимает: такой пациент не сможет выполнить простейшую просьбу закрыть глаза или пошевелить левой рукой.
</p>
<p>
	 Здесь мы имеем дело с одной из самых тяжелых афазий (сенсо-моторная афазия), когда нарушается одновременно и понимание обращенной речи, и собственное произнесение слов. Представьте, что вы оказались в Китае - вы вполне слышите речь жителей, но совершенно не понимаете, что именно означают эти странные сочетания звуков. Больной человек находится сейчас в том же положении - у него нарушена функция фонематического слуха, когда мозг анализирует слышимые звуки, складывая их в знакомые слова. Слышать он слышит, но не может анализировать и распознавать.
</p>
<p>
	 В менее тяжёлых случаях или при других типах афазий, речь человека может становиться нечёткой, он может заикаться или "застревать" на отдельных звуках, менять их местами, забывать слова или использовать их не по назначению, может испытывать трудности с логико-грамматическими конструкциями (например, будет сложно понять отличия между сочетаниями "брат отца" и "отец брата") и т.д.
</p>
<p>
 <b>Нарушается ли мышление при нарушении речи?</b>
</p>
<p>
	 И да, и нет.
</p>
<p>
	 Да, в том смысле, что у нас речь и мышление неразрывно связаны: мы думаем словами, и продукция нашего мышления тоже, в большинстве своём, вербальна. Поэтому при нарушении речи нарушается и память (словесно-логическая), и мышление.
</p>
<p>
	 Тем не менее (за исключением случаев тяжелой сенсо-моторной афазии), человек с нарушением речи чаще всего понимает всё, что ему говорят, узнаёт близких и запоминает новых людей. Кроме того, он сохраняет весь набор бытовых навыков и знаний о мире, т.е. он не положит кошку в холодильник и не начнёт жевать одеяло.
</p>
<p>
 <b>&nbsp;У нас есть знакомый детский логопед. Может ли он помочь?</b>
</p>
<p>
	 Только если у него есть специальные знания по афазиологии. Если нет, то иногда работа с детским логопедом может не принести пользы, а то и ухудшить ситуацию. Дело в том, что цели и методы работы отличаются у детского логопеда и логопеда-афазиолога (это же относится к нейропсихологу, работающему с детьми и нейропсихологу в отделении нейрореабилитации - это разные специалисты). Вы же не пойдёте к стоматологу, если болит ухо - вот и здесь лучше идти к узкому специалисту именно в этой области.
</p>
<p>
 <b>Как долго нужно будет заниматься?</b>
</p>
<p>
	 Это зависит от тяжести афазии. Иногда (в лёгких случаях) улучшение наступает довольно быстро, буквально за пару недель. В тяжелых случаях - это вопрос многих месяцев, а то и лет постоянной работы со специалистами (логопед, нейропсихолог). И даже после этого речь может не восстановиться полностью, т.к. повреждение части мозга, к сожалению, необратимо.
</p>
<p>
 <b>Когда можно начинать работать с пациентом?</b>
</p>
<p>
	 Чем раньше, тем лучше. Есть&nbsp; отделения, где работа с пациентами начиналась уже в реанимации. Поэтому, запомните пожалуйста: если у вашего близкого есть речевые нарушения, а также нарушения глотания (он давится или попёрхивается слюной/едой/водой) - <u>обязательно просите, чтобы с ним работал логопед и/или нейропсихолог.</u><b>&nbsp;</b>
</p>
<p align="center" style="background: white;">
 <b>Общие рекомендации для родственников пациентов с нарушениями речи:</b>
</p>
<p style="background: white;">
	 1) пожалуйста, имейте в виду, что афазия (нарушение речи) <b>не является психическим заболеванием,</b> даже тогда, когда изъяснения пациента лишены всякого смысла. Пациенты всё равно понимают интонации, поэтому при занятиях с такими больными категорически <u>недопустимо повышать голос</u> или допускать любые другие проявления агрессии - ведь сейчас человек не может ответить или как-то защитить себя.
</p>
<p style="background: white;">
	 2) всячески <u>вовлекайте пациента в общение.</u> Даже если он молчит или говорит крайне неразборчиво. Если он будет вычеркнут из общения, то шансов на восстановление речи практически нет - просто потому, что речь восстанавливается только в процессе собственно общения. Можно давать пациенту слушать радио, телевизор, любимую музыку, петь песни, предлагая ему подпевать (хотя бы не словами, а просто звуком или мычанием).
</p>
<p style="background: white;">
	 3) продолжайте заниматься, даже если пациент упорно молчит, отказывается от занятий и не отвечает на задаваемые вопросы. Можно работать хотя бы над пониманием обращённой речи: "Пожалуйста, возьми карандаш", "Покажи мне, ты хочешь яблоко или грушу?". У человека после перенесённого инсульта часто развивается депрессия, поэтому фон настроения может быть пониженным, так же, как и мотивация к деятельности. Учитывайте это, пожалуйста, не ругайте пациента за лень - просто помогайте ему делать то, что он может делать.
</p>
<p style="background: white;">
	 4) <u>не стоит прерывать</u> больных во время их попыток что-то сказать, даже если это тянется долго. Также не стоит договаривать за человека или заканчивать фразы, начатые пациентом, как бы помогая ему. Да, подобная помощь экономит время, но в итоге снижает шансы человека на собственное восстановление.
</p>
<p style="background: white;">
	 5) пациенты с нарушениями речи с большим трудом понимают (или не понимают совсем) длинные и быстро произносимые предложения, поэтому желательно говорить <u>короткими, простыми фразами, в медленном темпе, </u>при необходимости повторяя уже сказанное, дополняя слова жестами или картинками.
</p>
<p style="background: white;">
	 6) пациенты с афазией очень чувствительны к внешним раздражителям и шуму, поэтому с таким пациентом желательно заниматься <u>индивидуально</u>, в тихой комнате, не привлекая большого количества знакомых или родственников (если все хотят поучаствовать в реабилитационном процессе - пожалуйста и молодцы, но лучше по очереди или каждый в свой день).
</p>
<p style="background: white;">
	 7) не старайтесь "выдержать" какое-то определённое время занятия - час, 40 минут и т.д. Мне кажется более правильным <u>ориентироваться на текущее состояние пациента:</u> как он себя чувствует и какова его работоспособность сегодня. Если вы замечаете, что в ходе занятия стали часто возникать ошибки, неудачные ответы, речь стала совсем нечёткой, то это сигналы того, что пациент утомился, и занятие стоит прекратить или дать человеку время для отдыха.
</p>
<p style="background: white;">
 <img width="600" alt="Рекомендации родственникам пациента с нарушением речи Часть 2" src="file:///C:/Users/BULHAN~1/AppData/Local/Temp/msohtmlclip1/01/clip_image001.jpg" height="484" v:shapes="_x0000_i1025">
</p>
<p style="background: white;">
	 Теперь более конкретные рекомендации (ещё раз подчеркну, что пишу это для родственников пациентов после инсульта или ЧМТ, не для специалистов, поэтому каких-то специальных подробностей или методических рекомендаций под каждый вид афазии здесь не будет).
</p>
<p style="background: white;">
 <b>Начало</b>
</p>
<p style="background: white;">
	 Итак, самое важное, с чем нужно определиться на первом этапе - это <u>проверить, понимает ли пациент обращённую речь.</u>
</p>
<p style="background: white;">
	 Сделать это довольно просто: дайте человеку несколько простых инструкций - "Закрой глаза", "Высуни язык", "Подними левую руку" (при условии, что движения в этой руке сохранны), "Покажи свой нос", "Покажи дверь в комнате".
</p>
<p style="background: white;">
	 Если пациент смотрит на вас, качает головой, делает любые другие движения, кроме требуемых - увы, понимание обращённой речи нарушено. В этом случае <b>обязательно нужна дополнительная специализированная помощь</b> - логопеда, нейропсихолога.
</p>
<p style="background: white;">
 <b>Что можно делать самим</b>
</p>
<p style="background: white;">
	 Для начала согласовать всё нижеизложенное с тем логопедом/афазиологом/нейропсихологом, который будет работать с вашим пациентом) хотя принципы восстановления, вроде бы, универсальны, но каждый специалист имеет право на свои предпочтения, методы первого выбора и т.д. - поэтому рекомендации именно вашего специалиста будут иметь наибольший вес.
</p>
<p style="background: white;">
	 Мои рекомендации таковы:
</p>
<p style="background: white;">
	 В промежутках между занятиями со специалистом можно <u>работать над пониманием обращенной речи.</u> Например, так: поочерёдно назвать и показать на себе - "нос", "ухо", "глаза" (буквально - "Это у меня нос. Нос. НОС"). Можно показать эти же части лица у самого пациента, ставя его руку на его нос, или легонько касаясь своей рукой. (Можно использовать рисунок лица, дополнительно показывая нужные части на рисунке, сделав соответствующие подписи). После нескольких таких повторов попросить пациента: "покажи нос"? "Покажи ухо?". Иногда только на понимание этих вот трёх слов и связывание их с соответствующими частями лица уходит 2 недели и больше. Не спешите, пожалуйста.
</p>
<p style="background: white;">
	 Одновременно можно <u>сопровождать короткими пояснениями все свои действия</u>: "сейчас я беру ложку", "я кладу тебе яблоко", "это подушка", "я выключаю свет", "пошёл дождь" и т.д.
</p>
<p style="background: white;">
	 Можно <u>читать небольшие тексты</u> для 1-3 класса, из нескольких абзацев, особенно выделяя слова и фразы, помогающие понять, о чём этот текст. А потом показать человеку 2-3 картинки, где 2 - любые, а одна - о том, о чём вы читали (допустим, текст был о жизни птиц - вы показываете карточки, на которых изображены машина, птица, платье), спросить: "Покажи картинку - о чём был этот текст?".
</p>
<p style="background: white;">
	 Дело в том, что при таком нарушении речи грубо нарушается понимание и различение отдельных звуков, но понимание более крупных смысловых единиц может быть более сохранным. Механизм простой: если в тексте 50 слов, то есть шанс, что человек сможет распознать 5-7 из них, составив на основании этого примерное представление о содержании текста - но когда он слышит всего 3 слова, то шансов практически нет. Поэтому здесь обучение идёт от более крупных единиц к более мелким: понимание текста в целом &gt; понимание абзаца &gt; понимание предложения &gt; понимание слова &gt; понимание отдельных звуков.
</p>
<p style="background: white;">
	 Кроме того, у пациента может сохраняться зрительная память на слова, поэтому можно предлагать задания, когда нужно <u>совместить картинку и подпись к ней:</u> например, с одной стороны стола вы кладете карточки, на которых изображены дом, стол, цветок, яблоко, дерево (здесь может очень помочь детское лото) - а на другой стороне кладете написанные крупными буквами слова ДОМ, СТОЛ, и т.д. Также можно рисовать простые картинки, рядом делать подписи к ним, а ниже рисовать клеточки по числу букв, чтобы пациент мог "списать" правильное написание слова, соединяя зрительный образ слова и его написание.
</p>


<p style="background: white;">
	 Полезно, хорошо, можно и нужно <u>слушать, а ещё лучше петь песни</u> - горячо и заслуженно любимые логопедами "Катюшу", "Подмосковные вечера" и другие напевные, плавные песни. Понятно, что пропевать слова пациент не будет, но вполне может узнать знакомый мотив и "подпевать" на уровне отдельных звуков и мычания - и это уже будет хорошо для стимуляции понимания речи.
</p>
<p style="background: white;">
 <b>Чего нельзя делать и почему</b>
</p>
<p style="background: white;">
	 Не стоит пытаться <b>"учить" пациента повторять слова:</b> "а теперь скажи "яблоко". На данном этапе это лишено смысла. Да, после многих попыток пациент сможет повторить слово за вами, но он не будет понимать, что оно означает. Всё равно, что учить китайский язык только на слух: я могу запомнить и повторить "тянь фэн" - но пока я не понимаю, что это означает, это просто набор звуков.
</p>
<p style="background: white;">
	 Сюда же относится <b>чтение букваря или детских книжек</b> - не нужно. Выше я&nbsp; писала о том, что восстановление здесь идёт не по тому же пути, что обучение: если детишки учатся читать, начиная с отдельных букв, потом по слогам и т.д., постепенно укрупняя смысловые единицы, то в данном случае всё ровно наоборот.
</p>
<p>
 <b>Рекомендации для тех случаев, когда нарушений понимания речи нет. </b>
</p>
<p>
	 Так получается, что эти рекомендации будут максимально общими: у меня нет цели написать подробные и специфические рекомендации для оставшихся 5-6 типов афазий, &nbsp;у специалистов всё равно есть свои наработки и идеи, а для родственников это едва ли будет сильно полезным - скорее, запутает.
</p>
<p>
	 Поэтому ещё раз: <u>пожалуйста, найдите хорошего логопеда/афазиолога/нейропсихолога для работы с пациентом.</u> Обязательно согласуйте с ним те варианты работы, которые предлагаю здесь я. Дело в том, что нарушения речи могут быть разной степени выраженности: лёгкой, средней, тяжелой - поэтому какие-то рекомендации могут не подойти, быть слишком сложными или, наоборот, лёгкими, не помогающими.
</p>
<p>
	 В целом, данные упражнения подойдут для пациентов с нарушениями звукопроизнесения, со сложностями "вступления в речь" (сниженная речевая инициатива), с "забываниями" слов (при таком нарушении речи человек помнит функции предметов, но часто не может вспомнить их названия). При этом каждый перечисленный вариант афазии имеет свою специфику работы - в данной статье я, к сожалению, не смогу всё это учесть. Поэтому даю здесь только те рекомендации, которые точно не навредят пациенту с любым вариантом нарушения речи (кроме пациентов с нарушениями понимания - им тоже не навредит, просто будет бесполезно; про них была отдельная статья - см.часть 2 рекомендаций).
</p>
<p>
 <b>&nbsp;Что можно делать?</b>
</p>
<p>
	 1) Проговаривание так называемых <u>автоматизированных речевых рядов:</u> чисел по порядку от 1 до 10, дней недели, месяцев, имён близких людей. Проговаривание должно быть напевным, протяжным – так пациентам легче понимать и отличать звуки между собой. Во всех случаях очень хорошо помогает ритмически организованная речь – пение хорошо известных и любимых песен, чтение стихов. Договаривание хорошо известных пословиц и поговорок: «Тише едешь – дальше…будешь».
</p>
<p>
	 2) Очень полезны любые интересные для больного <u>настольные игры,</u> когда становится возможной спонтанная речевая активность («Ух ты!», «Ага», «Вот тебе», обсуждение правил или спорных моментов) – т.е. речь становится не предметом занятия, а его фоном, снижая тем самым уровень напряжения.
</p>
<p>
	 3) Также важно <u>уделять внимание глаголам,</u> т.е. продолжения фраз могут выглядеть так: «Солнышко…что делает?...светит», «Мальчик..что делает?...бежит». Здесь можно показывать разные картинки с людьми и животными во время каких-то действий (человек идёт, птица летит, кошка сидит, собака лежит), задавать вопросы по ним (кто здесь идёт? а что делает кошка?).
</p>
<p>
	 4) Можно называть одно существительное, а пациент должен назвать к нему несколько глаголов: дождь что делает? Идет, льёт, капает, заканчивается.
</p>
<p>
	 5) Желательно <u>сочетать</u> устную, письменную речь (левой рукой, если правая не работает) и чтение. Так слово запоминается сразу в нескольких планах: как оно звучит на слух, как оно произносится и как пишется (можно добавлять рисунок).
</p>
<p>
	 6) Разучивание слов желательно сопровождать <u>картинками;</u> при лёгких формах нарушений речи слово важно демонстрировать <u>в разных падежах и контекстах:</u> «Это стол. Мы сидим за столом. Столы бывают обеденные, письменные. На столележит ручка. Под столом сидит кошка» (показывается картинка стола или рисуется стол - круглый, квадратный и т.д.).
</p>
<p>
	 7) Можно <u>перечислять</u> предметы в комнате или за окном, называть цвета, которые видны вокруг, называть предметы на заданную букву.
</p>
<p>
	 8) <u>Договаривание</u> предложений с жестко заданным и понятным финалом. Т.е. когда высказывание можно закончить только одним-единственным словом, не требующим обдумывания. Например:
</p>
<p>
	 Из окна видно голубое…небо.
</p>
<p>
	 Ночью на небе светит…луна.
</p>
<p>
	 Днем на небе светит яркое…солнце.
</p>
<p>
	 По небу бегут легкие белые…облака.
</p>
<p>
	 Дует сильный…ветер.
</p>
<p>
	 Зимой идёт белый пушистый…снег.
</p>
<p>
	 За окном растут зеленые…деревья.
</p>
<p>
	 На деревьях поют певчие…птицы.
</p>
<p>
	 На клумбах растут красивые…цветы.
</p>
<p>
	 Мы пойдем в лес собирать…грибы и ягоды.
</p>
<p>
	 Из ягод мы сварим вкусное…варенье.
</p>
<p>
	 Под деревом сидит злая…собака.
</p>
<p>
	 Занятия обязательно <b>заканчивать на позитивном моменте,</b> ситуации успешности пациента (для этого можно вернуться к более лёгким заданиям, если сложные не получаются) – это создаёт благоприятный психологический настрой, способствует укреплению уверенности в себе и эффективности реабилитации в целом.
</p>
<p>
 <b>Литература, которая может помочь:</b>
</p>
<p>
	 1) М. Шохор-Троцкая, «Коррекция сложных речевых расстройств».
</p>
<p>
	 2) Амосова Н.Н., Каплина Н.И. «Практические упражнения для восстановления речи у больных после инсульта, черепно-мозговой травмы и других заболеваний головного мозга».
</p>
<p style="background: white;">
	 3) М. Шохор-Троцкая, «Коррекция сложных речевых расстройств».
</p>
<p style="background: white;">
	 4) Л.Б. Клепацкая, «Внимание, мышление речь. Комплекс упражнений (грубая форма афазии). Часть 2. Часть 1 (работа над пониманием обращенной речи).
</p>
<p style="background: white;">
 <i>&nbsp;</i>
</p>
<p style="background: white;">
 <i>&nbsp;</i>
</p>
<p align="right" style="background: white;">
 <i>С уважением к пациентам и их родственникам</i>
</p>
<p align="right" style="background: white;">
 <i>&nbsp;медицинский психолог БУ «Советская психоневрологическая больница»</i>
</p>
<p align="right" style="background: white;">
 <i>Гончарова Ольга Геннадьевна</i>
</p>        <div style="clear:both"></div>
    <br>
            </div>
<div class="row">
</div>

</div>

{% endblock %}
