{% extends "Home/basic.html" %}


 {% block content %}
<div id="school_data">
											            <h1>какие бывают дефекты речи у детей?</h1>
<p>
	<span class="Apple-style-span"><strong><u>Нижеследующая информация приведена только в ознакомительных целях.<br>
	Не пытайтесь поставить диагноз самостоятельно! Это может сделать только специалист!</u></strong><br>
	<br>
	В современной психологии выделяются два типа нормального развивающихся с точки зрения речи детей:&nbsp;<strong>говоруны и молчуны.</strong>&nbsp;<br>
	<br>
	«Говоруны» проявляют повышенную активность и интерес к окружающему миру. Такие дети любят что-то рассказывать, задавать много вопросов и легко осваиваются в новой обстановке. Иногда они начинают говорить раньше, чем другие дети.&nbsp;<br>
	<br>
	«Молчуны» склонны к созерцательности. Новая обстановка требует для них адаптации. Могут начать говорить поздно, но практически сразу без дефектов. Таким малышам важно, чтобы их слышали и понимали. Поэтому родители должны постараться внимательно реагировать на вопросы малыша. Однако, если «молчун» не начал говорить к 2-3 годам, нужно обратиться к специалисту.&nbsp;<br>
	<br>
	</span></p>
<p>
	<span class="Apple-style-span"><u>Итак логопед поставил вашему малышу диагноз.</u><u><br>
	</u></span></p>
<p>
	<span class="Apple-style-span"><u>Что же он обозначает.</u>&nbsp;<br>
	<br>
	<strong>Дислалия&nbsp;</strong>- это самое распространенное нарушение.<br>
	<u>Особенности:</u>&nbsp;хороший словарный запас, правильное построение предложений и согласование слов; но есть дефектное произношение некоторых звуков.&nbsp;<br>
	<br>
	<strong>Дизартрия</strong>&nbsp;- нарушение произношения, вызванное недостаточной работой нервов, связывающих речевой аппарат с центральной нервной системой (то есть недостаточной иннервацией); при дизартрии страдает произношение всех групп звуков.<br>
	<u>Особенности:</u>&nbsp;«смазанная» речь, нарушение голосообразования, ритма, интонации и темпа речи.&nbsp;<br>
	<br>
	<strong>Ринолалия&nbsp;</strong>- это нарушение тембра голоса, вызванное анатомическими дефектами речевого аппарата.<br>
	<u>Особенности</u>: голос приобретает «носовое звучание».&nbsp;<br>
	<br>
	<strong>Заикание</strong>&nbsp;- нарушение темпа, ритма, плавности речи, вызванное судорогами мышц лицевого аппарата; возникает в возрасте 2 - 2,5 года.<br>
	</span></p>
<p>
	<span class="Apple-style-span"><u>Особенности</u>: вынужденные остановки в речи, повторения отдельных звуков и слогов, добавление перед отдельными словами лишних звуков («а», «и»).<br>
	</span></p>
<p>
	<span class="Apple-style-span"><strong>Профилактика заикания:</strong>&nbsp;<br>
	речь окружающих должна быть неторопливой, правильной и отчетливой;<br>
	нужно ограничить контакты малыша с заикающимися;<br>
	не допускайте скандалов и конфликтов при ребенке;<br>
	избегайте психических и физических травм (особенно головы);<br>
	не перегружайте ребенка информацией и впечатлениями;<br>
	не опережайте развитие ребенка и не пытайтесь сделать из него вундеркинда;<br>
	не запугивайте ребенка страшными сказками и всякими бабками-ёжками;<br>
	не оставляйте ребенка в качестве наказания в темном помещении, не бейте ребенка;<br>
	<br>
	<strong>Алалия</strong>&nbsp;- это полное или частичное отсутствие речи у детей (до 3-5 лет); оно обусловлено недоразвитием или поражением речевых областей в левом полушарии коры головного мозга, наступившем во внутриутробном или раннем развитии ребенка.<br>
	<u>Особенности:</u><br>
	моторная алалия - ребенок понимает речь, но не умеет её воспроизводить;<br>
	сенсорная алалия - ребенок не понимает чужую речь; наблюдается автоматическое повторение чужих слов (вместо ответа на вопрос малыш повторяет сам вопрос).&nbsp;<br>
	<br>
	<strong>Мутизм</strong><u>&nbsp;</u>- прекращение речевого развития из-за психической травмы.<br>
	<u>Особенности:</u><br>
	общий мутизм - ребенок не говорит вообще;<br>
	избирательный мутизм - своим молчанием малыш протестует против каких-либо обстоятельств или людей;&nbsp;<br>
	<br>
	<strong>Детский аутизм&nbsp;</strong>- состояние психики, при котором ребенок полностью уходит в свои переживания и отстраняется от внешнего мира; при этом отсутствуют элементарные бытовые навыки и речь.<br>
	<u>Особенности:</u>&nbsp;<br>
	дети легко возбудимы и иногда агрессивны;<br>
	часто зацикливаются на чем-то; такие дети могут предпочитать какой то пределенный вид продуктов не из-за вкусовых качеств, а скажем, из-за внешнего вида, и при этом отказываются от другой предложенной пищи; например малыш может не захотеть пить молоко из пакета, а не из картонной упаковки;<br>
	с первых месяцев малыш не стремится к общению со взрослыми, не прижимается к матери;<br>
	для таких детей характерно чувство опасности; но их страхи часто имеют необычную направленность: малыш может пугаться, например, письменного стола, но совершенно не бояться собак и высоты;<br>
	<br>
	<strong>Общее недоразвитие речи (ОНР)</strong>&nbsp;- различные сложные речевые расстройства, при которых нарушено формирование всех компонентов речевой системы, т.е. звуковой стороны (фонетики) и смысловой стороны (лексики, грамматики).&nbsp;<br>
	<br>
	ОНР характеризуется нарушением произношения и различения звуков, маленьким словарным запасом, затрудненным словообразованием и словоизменением, неразвитой связной речью.&nbsp;<br>
	<br>
	Общее недоразвитие речи может наблюдаться при сложных формах детской речевой патологии: алалии (всегда), а также ринолалии, дизартрии (иногда).&nbsp;<br>
	<br>
	Несмотря на различную природу дефектов, у детей с ОНР имеются типичные проявления, которые указывают на системные нарушения речевой деятельности:&nbsp;<br>
	более позднее начало речи (первые слова появляются к 3-4, а иногда и к 5 годам);<br>
	речь недостаточно грамматически и фонетически оформлена;<br>
	ребёнок, понимает обращенную к нему речь, но не может сам правильно озвучить свои мысли;<br>
	</span></p>
<p>
	<span class="Apple-style-span">речь детей с ОНР является малопонятной;<br>
	</span></p>
<p>
	<span class="Apple-style-span"><strong>Выделяют три уровня речевого развития, которые отражают типичное состояние компонетов языка при ОНР:</strong><strong><br>
	</strong></span></p>
<p>
	<span class="Apple-style-span"><strong>1-ый уровень</strong>&nbsp;- полное отсутствие речи или наличие лишь ее элементов.<br>
	<u>Особенности:</u>&nbsp;<br>
	словарь детей состоит из лепетных слов типа «ляля», «биби»;<br>
	при этом одно слово может обозначать разные понятия («ляля» - это и кукла и девочка);<br>
	часто названия предметов употребляются вместо названий действий и наоборот: «туй» (стул) - сидеть, «пать» (спать) - кровать;<br>
	такие дети не умеют строить фразы; они говорят однословные слова-предложения типа «дай»;<br>
	многие звуки не произносятся;<br>
	сложные слова сокращаются до простых: «аба» (собака), «алет» (самолет);<br>
	<br>
	<strong>2-й уровень</strong><br>
	<u>Особенности:</u>&nbsp;<br>
	достаточно большой словарный запас; двухсловные и трехсловные фразы;<br>
	используемые слова сильно искажены и связи между словами в предложениях еще не оформлены; например: «кадас ледит той» (карандаш лежит на столе);<br>
	нарушено согласование слов; например: «иса безал» (лиса бежала);<br>
	в сложных словах часто переставляются слоги или добавляются новые; например: «лисипед» (велосипед);<br>
	<br>
	<strong>3-й уровень:</strong>&nbsp;характеризуется развернутой разговорной фразой и отсутствием грубых нарушений в развитии различных сторон речи; однако есть нарушения в оформлении сложных речевых единиц.<br>
	<u>Особенности:</u>&nbsp;<br>
	неправильное употребление окончаний и рассогласование слов: «стулы» (стулья); «красная солнце» (красное солнце); «два булки» (две булки);<br>
	упрощение сложных предлогов: «из стола» (из-за стола);<br>
	словарный запас достаточно большой, но может отсутствовать знание нюансов (например, ребенок может не знать, таких частей тела, как запястье, локоть, переносица);<br>
	неправильное образование уменьшительно-ласкательных форм: «стулик» (стульчик); относительных прилагательных: «стекловый» (стеклянный); притяжательных прилагательных: «лисовая шкура» (лисья шкура); и глаголов с приставками: «зашивать пуговицу» (пришивать пуговицу);<br>
	слоговая структура слова воспроизводится правильно, за исключением сложных слов; например: «милицанер» (милиционер);<br>
	звуки произносятся правильно, кроме некоторых сложных звуков: «р», «л»;<br>
	</span></p>
<p>
	<span class="Apple-style-span">нарушен звуковой анализ и синтез (ребенок не может выделить первые и последние звуки в слове, плохо подбирает картинки на заданный звук)<br>
	</span></p>
<p align="right">
	<span class="Apple-style-span">источник http://www.boltun-spb.ru</span></p>				        </div>

{% endblock %}
